.header {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to bottom right, #2980b9, #3498db);
  justify-content: space-between;
  color: #fff;
  padding: 20px;
  align-items: center;
  height: 10vh;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__logoContainer {
  width: 11%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
}

.header__searchContainer {
  display: flex;
  width: 35%;
}

.header__logoContainer span {
  font-size: 1.25rem;
  color: rgb(235, 235, 84);
}

.header__logo {
  font-weight: bold;
  font-size: x-large;
}

.header__searchContainer form {
  width: 100%;
}

.header__searchContainer__bar {
  position: relative;
  width: 100%;
}

.header__search {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  font-size: large;
  padding: 10px;
  padding-left: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #2980b9;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.header__searchIcon {
  position: absolute;
  left: 10px;
  top: 30%;
  transform: translateY(-50%);
  color: #2980b9;
}


.header__buttonContainer {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: flex-end;
  align-items: center;
}

.buttonContainer__button {
  border-radius: 20px;
  font-weight: bold;
  background-color: #fff;
  color: #2980b9;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #2980b9;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttonContainer__button:hover {
  background-color: #2980b9;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
}

.header__searchButton {
  display: none;
}

.header__navlink, .header__admin {
  align-items: center;
  padding: 0 .2rem;
}

.header__navlink span {
  cursor: pointer; /* Makes the mouse cursor indicate clickable links */
  color: #ffffff; /* White text color, can be adjusted */
  background-color: #6cace4; /* Light blue background, similar to the "Upload Image" button */
  padding: 10px 15px; /* Top and Bottom padding of 10px, Left and Right padding of 15px */
  border-radius: 5px; /* Rounded corners */
  margin-right: 10px; /* Spacing between the links */
  transition: background-color 0.3s ease; /* Smooth transition for the background color */
}

.header__navlink span:hover {
  background-color: #5591c8; /* Darker shade of blue on hover to indicate interactivity */
}
